body {
    margin: 0.25rem;
    padding: 0.25rem;
    overflow: hidden;

    display: flex;
}

table {
    width: 50vw;
    border: 1px solid;
}

i {
    font-size: 0.5rem;
}

strong {
    font-size: 1rem;
}

small {
    font-size: 0/75rem;
}

.eleInfo {
    height: 65px;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
}