body {
    margin: 0.5rem;
    padding: 0.5rem;
    /* overflow: hidden; */
    display: flex;
    background-color: #0e0e0e;
    color: #9a9a9a;
}

table {
    width: 40vw;
    border: 1px solid;
}

i {
    font-size: 0.5rem;
}

strong {
    font-size: 1rem;
}

small {
    font-size: 0.75rem;
}

.eleInfo {
    height: 65px;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
}

.eleInfo:hover {
    color: white;
}

#atom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 40vw;
    order: -1;
}

#periodicTable {
    order: 1;
}


@media screen and (max-width: 768px) {
    body {
        margin: 0.5rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
    }
    
    table {
        width: 100vw;
        border: 1px solid;
    }
}

@media screen and (max-width: 480px) {

}